.InlineEdit {
    background-color: transparent;
    border: 0;
    padding: 8px;
    color: #000;
    width: 80%
}

.InlineEdit.pure {
    color: #bbb;
}

.InlineEdit:hover {
    background-color: #d3d3d3;
    cursor: pointer;
}

.InlineEdit:focus-visible {
    color: #000;
}

.InlineEdit:focus{
    outline: 1px solid #bbb;
}
