.Segment:hover {
    background-color: #d3d3d3;
    cursor: pointer;
}

.Segment:focus-visible {
    color: #000;
}

.Segment:focus{
    outline: 1px solid #bbb;
}

main.Segment > header {
    font-size: 2em;
    font-weight: bold;

}

section.Segment > header {
    font-size: 1.3em;
    font-weight: bold;
}

article.Segment > header {
    font-weight: bold;
}
