textarea {
    /*resize: none;*/
    overflow: hidden;
    min-hight: 14px;
    max-height: 100px;
    background-color: transparent;
    border: 0;
    padding: 8px;
    color: #000;
}

textarea.pure {
    color: #bbb;
}

textarea:hover {
    background-color: #d3d3d3;
    cursor: pointer;
}

textarea:focus-visible {
    color: #000;
}
